certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.7
django-allauth==0.35.0
django-ckeditor==5.4.0
django-crispy-forms==1.7.0
django-fm==0.2.5
django-froala-editor==2.7.3
django-js-asset==0.1.1
django-location-field==2.0.3
django-sass-processor==0.5.7
django-static-precompiler==1.7
idna==2.6
libsass==0.13.5
oauthlib==2.0.6
olefile==0.44
Pillow==4.3.0
pyparsing==2.2.0
python3-openid==3.1.0
pytz==2017.3
requests-oauthlib==0.8.0
scss==0.8.73
six==1.11.0
stripe==1.77.1
urllib3==1.22
var-dump==1.1
